.header-acceuil
	{
		background-color: #f1f3f2;
		font-family: arial narrow;
		border-bottom: 1px, solid, white;
	}

.logo-acceuil
	{
		text-align: center;
	}

.img-logo-acceuil
	{
			
	}

.slogan-acceuil
	{
		float: left;
		font-family: arial narrow;
		margin-top: 20px;

	}

.slogan1-acceuil
	{
		color: black;
	}

.slogan2-acceuil
	{
		color: #850404;
	}

.menu1-acceuil
	{
		margin-left: 20px;
		font-size: 15px;
		margin-top: 15px;
	}

.menu2-acceuil
	{
		margin-top: 25px;
	}

.body1-acceuil
	{
		font-family: arial narrow;
		background-color: black;
		opacity: 0.7;
	}
	
 .h1_body1-acceuil
	{
		text-align: center;
		color:#850404;
	}
	