body
	{
		
	}
.entete
	{
		border-bottom: 1px, solid, #f1f3f2;
		background-image: linear-gradient(0deg, #a10404 10%, #a10404 46%, #a10404 100%);
	}

.logo
	{
		
	}

.slogan
	{
		margin-top: 20px;
		color:#a10404;

	}

.B1
	{
		background:black;
		outline: none;
		border:none;
		cursor: pointer;
		border-radius: 20px;
		position: relative;
		margin-top:20px;	
	}

.B1:active
	{
		box-shadow: 0 0 #a10404;
		top:6px;
	}

.B1:hover
	{
		background-color:#a10404;
	}

.B2
	{
		margin-top:20px;	
	}

.B3
	{
		background-color:black;
		border: 1px solid black;
		border-radius: 20px;
		position: relative; 
	}

.B3:active
	{
		box-shadow: 0 0 #a10404;
		top:6px;
	}

.B3:hover
	{
		background-color:#a10404;
	}

.B4
	{
		background-color:#a10404;
		border: 1px solid black;	
	}

.pan-h1
	{
		
	}

.pan-p1
	{
		
	}

.marque
	{
		color:#a10404;	
	}

.v
	{
		width:80%;
		text-align:center;
		border: none;	
	}

.pan1
	{
		text-align: center;	
	}

.bloc2
	{
		text-align:center;	
	}

.B
	{
		
	}

.B
	{
		
	}

.footer
	{
		background-image: linear-gradient(0deg, #a10404 10%, #a10404 46%, #a10404 100%);	
	}

.bloc-footer
	{
		margin-top: 20px;	
	}

.blocf
	{
		text-align: center;
		font-size: 20px;
		font-style: bold;
		color: black;	
	}

.bloc1-footer
	{
		margin-left: 90px;	
		margin-top: 10px;
	}

.bloc2-footer
	{
		margin-left: 20px;	
		margin-top: 5px;
	}

.bloc3-footer
	{
		margin-left: 70px;	
		margin-top: 10px;
	}

.bloc4
	{
		margin-left: 80px;
		color:black;
	}

.bf
	{
		margin-top: 10px;
		background-color:#a10404;
		color:white;
		border:1px solid black;
	}

.p-footer
	{
		color:white;	
	}

.facebook
	{
		color: blue;
	}

.twitter
	{
		color: #93f3f3;;	
	}

.linkedin
	{
		color: blue;	
	}

.whatsapp
	{
		color: #43a543;	
	}

.icon
	{
		color:black;	
	}

.row2
	{
		text-align: center;
		margin-top: 30px;
		list-style: none;	
	}

		/*****************************************************INSCRIPTION**********************************************/


.formulaire
	{
		/*background-image: linear-gradient(0deg, #a10404 10%, #a10404 46%, #a10404 100%);*/
		background-color: #a10404;
		/*opacity: 0.8;*/
		padding:30px;
		margin-top: 50px;
		border-radius: 30px;
	}

h1
	{
		text-align: center;
		font-weight: bold;
		color:#a10404;
	}

h4
	{
		text-align: center;
		color:#a10404;
	}

a
	{
		color:white;
	}


label
	{
		color:black;
	}

.bout1{
	background:black;
	outline: none;
	border:none;
	cursor: pointer;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 6px ;
}
.bout1:active
	{
		box-shadow: 0 0 #a10404;
		top:6px;
	}

.bout1:hover
	{
		background-color:#a10404;
	}

#im
	{
		margin-top: 10px; 
		margin-bottom: 10px;
		height: 120px; 
		width: 120px; 
		border-radius: 50px;
	}


.photo
	{
		height: 90px; 
		width: 90px;
	}

.t-admin
	{
		background-image: linear-gradient(0deg, white 10%, white 46%, white 100%);
		color: #850404;
	}







@media screen and (max-width: 768px){
	.B2{
		display: none;
	}

	.slogan{
		display:none;
	}

}

@media only screen and (max-width: 760px){
	.B2{
		display:none;
	}

	.slogan{
		display:none;
	}

	.B1{
		margin-right:10px;
		padding:15px;
	}

	.blocf{
		font-size:15px;
	}

	.bloc1-footer{
		font-size:10px;
	}

	.bloc2-footer{
		font-size:10px;
	}

	.bloc3-footer{
		font-size:10px;
	}

	.bloc-footer{
		font-size:15px;
	}

	.bloc5{
		font-size:10px;
		width:50%;
	}

	.bf{
		font-size:10px;
		width:70%;
	}

	.row2{
		font-size:10px;
	}

	.Z1{
		margin-left:95px;
	}

	
}




